@import url('https://fonts.googleapis.com/css2?family=Bungee&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.about_pref{
    min-height: 20vh;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5rem;
}
.pref_card{
    margin-top: 5vh;
    position: relative;
    background-color: white;
    /* padding-block: 2rem; */
    border-radius: 1rem;
    width: 90%;
    height: 5rem;
    max-width: 1000px;
    box-shadow: 0px 0px 19px -4px rgba(105,105,105,0.66);
    margin-bottom: -2.5rem;
    margin-top: -2.5rem;
    z-index: 50;
  }
  .pref_card p{
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    color: black;
}
.about_main_img{
    height: 40vh;
}

.list .item .content .title{
  font-size: 5rem;
}
.about_pref_title{
    text-align: left;
    padding-left: 5%;
    font-size: 3vw;
    margin: 0px;
}
.about_pref_content{
    text-align: left;
    padding-left: 5%;
    font-size: 1.5vw;
    margin: 0px;
}


/*  */
.more_about_section{
    padding-block: 7vh;
    padding-inline: 5vw;
    height: fit-content;
}
.about_two_card{
    min-height: 20vh;
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.about_two_card img{
    height: 50vh;
    border-radius: 2rem;

}

.two_card_content{
    padding: 3rem;
    margin-left: -25vw;
    width: 50vw;
    background: linear-gradient(135deg, #e85722d6 16%, rgba(177, 37, 84, 0.772) 100%);
    text-align: left;
    color: white;
    border-radius: 1rem;
    transition-duration: 0.2s;
}
.two_card_content p{
    font-size: 1.3vw;
    text-align: justify;
    margin: 0px;
    padding: 0px;
}
.two_card_content h2{
    font-size: 2.3vw;
    margin: 0px;
    padding: 0px;
}
.two_card_content:hover{
    scale: 1.1;
}
.content .title{
  margin-top: 20vh;
  color: #e85722;
  width: 100vw;

}













  
  .text-container {
    width: 100%;
    align-items: center;
    bottom: 10vh;
    left: 0px;
    right: 0px;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .text-container h1{
    margin: 0;
    font-size: 4vw;
    color: #e85722;
    background-image: url('../image/text_bg.png');
    background-repeat: no-repeat;
    background-size: 150%;
    -webkit-background-clip:text;
    animation: animate 15s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
    @keyframes animate {
      0%, 100% {
        background-position: left top;
      }
      25%{
        background-position: right bottom;
       }
      50% {
        background-position: left bottom;
      }
      75% {
        background-position: right top;
      }   
  }

  .enter_text{
    display: inline-block;
    color: purple;
    text-decoration: none;
    cursor: text;
    cursor: pointer;
    font-size: 1vw;
    z-index: 2100;
    padding: 1rem;
    border-radius: 5rem;
    padding-inline: 3.5rem;
    background-color: white;
    transition-duration: 0.2s;
  }
  .enter_text:hover{
    scale: 1.1;
  }
  .enter_text:active{
    scale: 0.95;
  }
.list .item .content{
  width: 89%;
  /* margin-left: -10%; */
}
@media (max-width: 1350px) and (min-width: 200px) {
  .text-container h1{
    font-size: 9vw;
  }
  .enter_text{
    font-size: 4vw;
  }
}
.home_button_container{
  width: 100%;
  text-align: center;
}
.home_button_container .hover_button {
  display: inline-block;
}
.about_text_card{
    background-color: #ffffff18;
    padding-block: 10vh;
    border-radius: 2rem;
}
.download{
  border: none;
  outline: none;
  padding: 1vh;
  width: 90%;
  max-width: 300px;
  color: white;
  font-size: 1.3vw;
  border-radius: 1rem;
  background: linear-gradient(150deg, #e85722 16%, #b12554 100%);
  margin-top: 2vh;
  transition-duration: 0.2s;
  padding: 0.7rem;
}
.download:hover{
  scale: 1.1;
}

.download:active{
  scale: 1;
}
.thumbnail{
  z-index: 1000;
}
.thumbnail .item{
  transition-duration: 0.2s;
}

.thumbnail .item:hover{
  scale: 1.5;
}

@media (min-width: 100px) and (max-width: 740px){
  .about_pref{
    margin-top: 10vh;
  }
  .download{
    font-size: 0.7rem;
  }
  .thumbnail .item .content .title{
    font-size: 5vw;
  }
  .thumbnail .item {
    width: 12vh;
    height: 10vh;
  }
  .about_main_img{
    width: 40vw;
    height: unset;

  }
  .about_pref_title{
      font-size: 7vw;
  }
  .about_pref{
    padding: 0.5rem;
  }
  .about_pref_content{
    font-size: 3vw;
  }
  .two_card_content{
    padding: 0.7rem;
    border-radius: 0.5rem;
    width: unset;
  }
  .two_card_content h2{
    font-size: 7vw;
  }
  .two_card_content p{
    font-size: 3.5vw;
    text-align: left;
  }
  .team_container .right_3d{
    font-size: 7vw;
  }
  .team_container .about_team{
    font-size: 4vw;
  }
  .pref_card p{
    font-size: 0.7rem;
    margin: 0.5rem;
  }
  .content .title{
    margin-top: 0px;
  }
  .list .content{
    padding-left: 5vw;
  }
}
.typing_animation{
  margin-bottom: 5vh;
  width: 90%;
  font-size: 2.5vw;
}


