.visual_solutions {
  text-align: left;
  padding: 8rem;
  padding-top: 15vh;
}
.visual_image_container {
  width: 100%;
  text-align: center;
}

.visual_image_container img {
  width: 90%;
  max-width: 800px;
}
.visual_solutions h1 {
  font-size: 2.5rem;
}
.visual_solutions h2 {
  font-size: 1.7rem;
}
@media (max-width: 1024px) {
  .visual_solutions h1 {
    font-size: 30px;
  }
  .visual_solutions h2 {
    font-size: 24px;
  }
  .visual_solutions p {
    font-size: 16px;
  }
  .visual_solutions {
    padding: 1.5rem;
    padding-top: 5rem;
  }
}

/* Small screens (phones) */
@media (max-width: 768px) {
  .visual_solutions h1 {
    font-size: 26px;
  }
  .visual_solutions h2 {
    font-size: 22px;
  }
  .visual_solutions p {
    font-size: 14px;
  }
  .visual_solutions ul {
    padding-left: 15px;
  }
}
