/* @keyframes logos_slides {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
   */
  .logos {
    /* overflow: hidden; */
    white-space: nowrap;
    position: relative;
    margin-top: 5vh;
    /* background: linear-gradient(135deg, #e85722d6 16%, rgba(177, 37, 84, 0.772) 100%); */
  }
  
  .logos:before, .logos:after {
    position: absolute;
    top: 0;
    content: '';
    width: 250px;
    height: 100%;
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), #272343);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), #272343);
  }
  
  .logo_items {
    display: inline-block;
  }
  
  .logos:hover .logo_items {
    animation-play-state: paused;
  }
  
  .logo_items img{
    height: 6rem;
    margin-inline: 2rem;
    border-radius: 0.5rem;
    transition-duration: 0.2s;
  }
  .logo_items img:hover{
    scale: 1.5;
  }

  .partners_container{
    padding-block: 6vh;
  }
  .partners_info_section{
    margin-top: 3vh;
  }
  .partners_info_section h2{
    width: 80%;
    text-align: left;
    font-size: 3vw;
    margin: 0px;
  }
  .show_on_mobile_logos{
    display: none;
  }
@media (min-width: 100px) and (max-width: 740px){
  .logo_items img{
    height: 2rem;
  }
  .logos{
    padding-block: 1rem;
  }
  .logo_items {
    display: none;
  }
  .show_on_mobile_logos{
    display: block;
  }
}